import type { ReactNode } from "react";

{% set props = component.props if component.props is defined else {} %}
{% set states = component.states if component.states is defined else [] %}

interface {{ component.name }}Props {
{% for prop_name, prop_type in props.items() %}
  {{ prop_name }}?: {{ prop_type }};
{% endfor %}
  children?: ReactNode;
}

export default function {{ component.name }}({
{% for prop_name in props.keys() %}
  {{ prop_name }},
{% endfor %}
  children,
}: {{ component.name }}Props) {
  return (
    <section
      className="{{ component.name | lower }}"
{% if "hover" in states %}
      data-state="hover-enabled"
{% endif %}
{% if "disabled" in states %}
      data-state-disabled="true"
{% endif %}
    >
      <div>
        {{ component.name }}
      </div>

      {children}
    </section>
  );
}
