import AppShell from "../AppShell";

{% for component in component_imports %}
import {{ component.name }} from "{{ component.import_path }}";
{% endfor %}

export default function {{ page_name }}() {
  return (
    <AppShell>
{{ composition | indent(6, true) }}
    </AppShell>
  );
}
