export default function {{ page_name }}() {

  return (
    <main
      data-route="{{ route }}"
      data-layout="{{ page_name }}"
    >

      <h1>
        {{ page_name }}
      </h1>

      {% for component in components %}

      <{{ component.name }} />

      {% endfor %}

    </main>
  );
}
