import AppShell from "../AppShell";

{% for component in components %}
import {{ component.name }} from "../components/{{ component.name }}";
{% endfor %}

export default function {{ page_name }}() {
  return (
    <AppShell>
      <main className="min-h-screen">
        <h1>{{ page_name }}</h1>

        <section className="space-y-4">
{% for component in components %}
          <{{ component.name }} />
{% endfor %}
        </section>
      </main>
    </AppShell>
  );
}
