import React from "react";

{% for route in routes %}
import {{ route.page }} from "{{ route.import_path }}";
{% endfor %}

export const routes = [
{% for route in routes %}
{
    path: "{{ route.path }}",
    element: React.createElement({{ route.page }}),
},
{% endfor %}
];
