import type { RouteObject } from "react-router-dom";

{% for route in routes %}
import {{ route.page }} from "{{ route.import_path }}";
{% endfor %}

export const routes: RouteObject[] = [
{% for route in routes %}
  {
    path: "{{ route.path }}",
    element: <{{ route.page }} />,
  },
{% endfor %}
];
