{% for route in routes %}
import {{ route.page }} from "./pages/{{ route.page }}";
{% endfor %}


export const routes = [
{% for route in routes %}
  {
    path: "/{{ route.path }}",
    element: <{{ route.page }} />,
  },
{% endfor %}
];
