export default function {{ component.name }}() {
  return (
    <nav className="x337-navbar">
      <div className="x337-brand">
        {{ component.name }}
      </div>

      <div className="x337-nav">
        <a href="/">
          Home
        </a>

        <a href="/dashboard">
          Dashboard
        </a>
      </div>
    </nav>
  );
}
