{% for component in component_imports %}
import {{ component.name }} from "{{ component.import_path }}";
{% endfor %}

export default function {{ page_name }}() {
  return (
{{ composition | indent(4, true) }}
  );
}
